In [28]:
import pandas as pd
import numpy as np
pp = pd.read_csv('3425_data.csv')

In [29]:
mini = pp
mini = mini.drop(['A4A5_agg','Mode'] , axis=1)

In [30]:
# Define the function to remove the punctuation

# Apply to the DF series
for n in list(mini.columns):
    mini[n] = mini[n].apply(lambda x: str(x).replace("”",""))
    mini[n] = mini[n].apply(lambda x: str(x).replace(" ",""))
    mini[n] = mini[n].apply(lambda x: str(x).replace("nan",""))

In [31]:
nan_value = float("NaN")

mini = mini.replace("", nan_value)
mini = mini.dropna(axis=1)
mini = mini.dropna(axis=0)
mini

,srcid,A1,A2,undecided_voter,A4_a,A4_b,A4_c,A4_d,A4_e,A5_a,...,E1_d,E1_e,E1_f,E1_g,E1_h,E10,E14,p_volunteer,p_gender_sdc,opinionated
0,1,2,3,False,2,2,2,2,2,2,...,2,2,2,1,-99,1,2,1,2,False
1,2,2,1,False,2,2,2,1,3,2,...,2,2,1,2,1,7,2,1,2,True
2,3,4,3,False,4,2,3,2,2,2,...,2,2,2,1,1,1,2,1,1,True
3,4,2,3,False,2,2,1,1,1,4,...,2,2,1,1,1,4,2,2,2,True
4,5,1,3,False,2,1,3,1,1,1,...,2,2,1,1,-98,7,1,1,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3150,3151,4,3,False,3,3,3,3,2,4,...,2,2,2,1,2,1,2,1,1,False
3151,3152,2,1,False,2,2,2,2,2,3,...,2,2,2,2,2,1,1,2,1,False
3152,3153,2,3,False,3,3,2,2,2,2,...,2,2,2,2,2,1,2,2,2,True
3153,3154,2,1,False,2,2,2,2,1,3,...,2,2,2,2,2,1,1,2,1,False
3154,3155,4,1,False,3,3,3,1,1,2,...,2,2,2,2,2,1,2,2,1,True

In [33]:
mini_missing = mini.drop(mini[mini.p_gender_sdc == "NaN"].index)
mini_missing

,srcid,A1,A2,undecided_voter,A4_a,A4_b,A4_c,A4_d,A4_e,A5_a,...,E1_d,E1_e,E1_f,E1_g,E1_h,E10,E14,p_volunteer,p_gender_sdc,opinionated
0,1,2,3,False,2,2,2,2,2,2,...,2,2,2,1,-99,1,2,1,2,False
1,2,2,1,False,2,2,2,1,3,2,...,2,2,1,2,1,7,2,1,2,True
2,3,4,3,False,4,2,3,2,2,2,...,2,2,2,1,1,1,2,1,1,True
3,4,2,3,False,2,2,1,1,1,4,...,2,2,1,1,1,4,2,2,2,True
4,5,1,3,False,2,1,3,1,1,1,...,2,2,1,1,-98,7,1,1,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3150,3151,4,3,False,3,3,3,3,2,4,...,2,2,2,1,2,1,2,1,1,False
3151,3152,2,1,False,2,2,2,2,2,3,...,2,2,2,2,2,1,1,2,1,False
3152,3153,2,3,False,3,3,2,2,2,2,...,2,2,2,2,2,1,2,2,2,True
3153,3154,2,1,False,2,2,2,2,1,3,...,2,2,2,2,2,1,1,2,1,False
3154,3155,4,1,False,3,3,3,1,1,2,...,2,2,2,2,2,1,2,2,1,True

In [34]:
mini_missing.to_csv('cleaned_ug.csv')

In [ ]:
drop_no_response = ['C1_b', 'C1_c', 'E1']
drop_missing = mini.drop(mini[mini.C1_b.apply(pd.to_numeric) < 0].index | mini[mini.C1_c.apply(pd.to_numeric) < 0 ].index | mini[mini.E1_c.apply(pd.to_numeric) < 0 ].index | mini[mini.E1_e.apply(pd.to_numeric) < 0 ].index | mini[mini.E1_a.apply(pd.to_numeric) < 0 ].index | mini[mini.E1_b.apply(pd.to_numeric) < 0 ].index | mini[mini.E1_g.apply(pd.to_numeric) < 0 ].index)
drop_missing

In [ ]:
drop_missing.to_csv('cleaned_ug_rm_no_resp.csv')