In [28]:
import pandas as pd
df = pd.read_csv('2 ADA.ANUPoll33L.CSV.01464m.csv')
df_u = pd.read_csv('3425_data.csv')

# get the correlations for each attribute, remove duplicates, set to a 3 column frame, dort by highes correlation
p_full = df.corr(method="pearson").abs().unstack().sort_values(ascending=False).drop_duplicates().head(90).dropna() 
p_full = pd.DataFrame(p_full)
p_full[p_full.iloc[:, 0] > 0.5].head(50)

                    0
Mode  Mode   1.000000
E17_d E17_f  0.988223
E17_c E17_d  0.986319
      E17_f  0.986132
E18_g E18_d  0.985658
E18_a E18_g  0.961015
E18_d E18_a  0.959807
E1_c  E1_d   0.860079
C1_b  C1_c   0.814007
E1_d  E1_a   0.711347
E1_b  E1_a   0.710736
E17_e E17_f  0.707060
E17_c E17_e  0.705653
E17_d E17_e  0.701432
E1_b  E1_d   0.700117
E18_d E18_b  0.699123
E18_b E18_g  0.698402
E18_e E18_d  0.696150
      E18_g  0.695339
E18_a E18_e  0.689149
      E18_b  0.686366
D1_f  D1_b   0.684443
C2_c  C2_b   0.681553
A4_e  A4_d   0.681503
E1_c  E1_a   0.679504
E18_f E18_j  0.667831
D4    D3     0.667054
E1_b  E1_c   0.666800
F1_b  F1_d   0.657144
F1_d  F1_e   0.645492
E1_g  E1_d   0.630794
D1_d  D1_b   0.629459
E1_b  E1_g   0.628232
F1_e  F1_c   0.627289
C1_i  C1_h   0.622661
E1_a  E1_g   0.621617
F1_a  F1_b   0.619633
C1_f  C1_e   0.612791
F1_d  F1_c   0.610310
D1_f  D1_d   0.606270
E1_c  E1_g   0.601092
D1_a  D1_b   0.598850
D1_c  D1_d   0.595743
F1_e  F1_b   0.581448
E18_g E19    0.579293
E18_d E19    0.579087
D1_b  D1_c   0.578787
E18_f E19    0.576209
F1_a  F1_d   0.574127
E18_g E18_i  0.571108

In [29]:
s_full = df.corr(method="spearman").abs().unstack().sort_values(ascending=False).drop_duplicates().head(50).dropna()
s_full = pd.DataFrame(s_full)
s_full[s_full.iloc[:, 0] > 0.5].head(50)

                    0
Mode  Mode   1.000000
E17_e E18_b  0.800522
F1_d  F1_c   0.719441
D4    D5     0.707775
F1_b  F1_d   0.704568
D1_e  D1_f   0.687950
D3    D4     0.666457
E18_d E17_a  0.666381
F1_d  F1_e   0.659835
F1_c  F1_e   0.651689
E10   E1_f   0.647888
F1_c  F1_b   0.646513
F1_b  F1_e   0.642795
A5_h  A5_c   0.642313
D1_b  D1_f   0.642125
D1_e  D1_b   0.640554
E1_f  E1_a   0.639616
E1_a  E10    0.639183
D2_a  D1_a   0.636627
D1_e  D2_b   0.627582
F1_a  F1_e   0.622931
      F1_c   0.615877
D1_d  D1_e   0.615046
D3    D5     0.612177
F1_a  F1_b   0.607665
D1_d  D1_b   0.606898
D2_b  D1_f   0.592945
F1_d  F1_a   0.586222
D2_b  D1_b   0.584367
D1_d  D1_c   0.583634
A5_c  A5_e   0.583104
D1_d  D2_b   0.579555
      D1_f   0.574673
D2_a  D2_b   0.574104
D1_b  D1_a   0.572754
A5_e  A5_h   0.561664
D1_c  D2_a   0.557225
D1_b  D1_c   0.552819
      D2_a   0.552442
E17_d E19    0.547671
D1_a  D1_c   0.542391
D1_d  D2_a   0.539246
E17_a E17_b  0.531233
D2_b  D2_c   0.531203
D1_e  D2_a   0.513180
D1_c  D1_e   0.507646
D1_a  D1_d   0.506119
E18_g E18_d  0.503930
A4_a  A5_h   0.501533

In [30]:
p_u = df_u.corr(method="pearson").abs().unstack().sort_values(ascending=False).drop_duplicates().head(50).dropna()
p_u = pd.DataFrame(p_u)
p_u[p_u.iloc[:, 0] > 0.5].head(50)

                          0
srcid    srcid     1.000000
E1_c     E1_d      0.860079
C1_c     C1_b      0.814007
E1_d     E1_a      0.711347
E1_a     E1_b      0.710736
E1_b     E1_d      0.700117
D1_b     D1_f      0.684443
A4_d     A4_e      0.681503
E1_a     E1_c      0.679504
A4A5_agg A4_e      0.672107
E1_b     E1_c      0.666800
E1_g     E1_d      0.630794
D1_b     D1_d      0.629459
E1_g     E1_b      0.628232
A4A5_agg A4_c      0.623566
C1_h     C1_i      0.622661
E1_a     E1_g      0.621617
C1_f     C1_e      0.612791
D1_d     D1_f      0.606270
A4A5_agg A4_b      0.602327
E1_g     E1_c      0.601092
D1_b     D1_a      0.598850
D1_c     D1_d      0.595743
A4_d     A4A5_agg  0.585287
D1_b     D1_c      0.578787
C3_d     C3_e      0.568656
C1_e     C1_d      0.562802
A4_a     A4_e      0.558953
D1_a     D1_c      0.556515
A4A5_agg A4_a      0.549303
D1_a     D1_d      0.523430

In [31]:
s_u = df_u.corr(method="spearman").abs().unstack().sort_values(ascending=False).drop_duplicates().head(50).dropna()
s_u = pd.DataFrame(s_u)
s_u[s_u.iloc[:, 0] > 0.5].head(50)

                                    0
srcid       srcid            1.000000
opinionated A4A5_agg         0.771777
E1_f        p_age_group_sdc  0.723237
D1_f        D1_e             0.687950
E10         E1_f             0.647888
A5_c        A5_h             0.642313
D1_b        D1_f             0.642125
D1_e        D1_b             0.640554
E1_f        E1_a             0.639616
E10         E1_a             0.639183
D1_e        D1_d             0.615046
D1_b        D1_d             0.606898
D1_c        D1_d             0.583634
A5_e        A5_c             0.583104
D1_f        D1_d             0.574673
D1_b        D1_a             0.572754
A5_h        A5_e             0.561664
D1_b        D1_c             0.552819
D1_a        D1_c             0.542391
E10         p_age_group_sdc  0.534336
D1_e        D1_c             0.507646
D1_d        D1_a             0.506119
A5_h        A4_a             0.501533